/*Fuentes de texto*/

@font-face {
    font-family: 'TextoPrincipal';
    src: url('../Fonts/medium/CreatoDisplay-Medium.otf') format('opentype'),
         url('../Fonts/medium/CreatoDisplay-Medium.woff2') format('woff2'),
         url('../Fonts/medium/CreatoDisplay-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titulo';
    src: url('../Fonts/Tittles/AkiraExpandedDemo.otf') format('opentype'),
         url('../Fonts/Tittles/AkiraExpanded-SuperBold.woff2') format('woff2'),
         url('../Fonts/Tittles/AkiraExpanded-SuperBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS general de la página web*/

body{
    margin: 0;
    width: 100%;
    font-family: 'TextoPrincipal', Arial, sans-serif;
    scrollbar-width: none; /* Oculta el slider en firefox*/
    -ms-overflow-style: none; /* Oculta el slider en edge*/
}


/*Clases de textos*/

.TransparentTitle{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Titulo', Arial, sans-serif;
    font-size: 3vw;
    color: transparent;
    -webkit-text-stroke: 0.15vw #151518; /* Prefijo para navegadores WebKit */
    line-height: 0.7;
}

.TransparentWhiteTitle{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Titulo', Arial, sans-serif;
    font-size: 3vw;
    color: transparent;
    -webkit-text-stroke: 0.15vw #ffffff; /* Prefijo para navegadores WebKit */
    line-height: 0.7;
}

/*-----------------------------------------*/

@media (min-width: 801px) {

  #TopSection{
    width: 100%;
    height: 4vw;
    top: 0;
    background: rgb(29, 33, 41);
    display: flex;
    align-items: center;
    box-sizing: border-box; /*Establece el ancho y el alto incluyengo el contenido, el padding y el border*/
    position: fixed;
    padding: 0 2vw;
    z-index: 500; /*Establezco posición 1000 en pantalla para asegurarme de que siempre queda por encima de otros elementos*/
    filter: drop-shadow(0px 0px 0.4vh rgb(28, 27, 32));
  }

  #Logo{
      height: 3vw;
      align-items: center;
      box-sizing: border-box;
      z-index: 500;
      cursor: pointer;
  }

  #TopMenu{
      width: auto;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      margin: 0vw 0vw 0vw 3vw;
  }

  #TopMenu a{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    text-decoration: none; /* Sin subrayado por defecto */
  }

  #TopMenu button{
      box-sizing: border-box;
      margin: 0vw 2vw;
      font-size: 1.2vw;
      font-family: 'Titulo', Arial, sans-serif;
      color:rgb(232, 232, 232);
      border: none;
      background: none;
      cursor: pointer;
      text-decoration: none; /* Sin subrayado por defecto */
      transition: text-decoration 0.3s ease;
  }


  #TopMenu button:hover {
      text-decoration: underline;
  }

  #EmptySpace{
      width: 100%;
      height: 4vw;
      top: 0;
      background: rgb(153, 147, 82); /*Cambiar para hacer coincidir con el color de fondo */
  }

  /*-----------------------------------------*/

  /*Titulo*/

  #Title{
    box-sizing: border-box;
    font-family: 'Titulo', Arial, sans-serif;
    font-size: 2vw;
    color: rgb(232, 232, 232);
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
  }

  /*-----------------------------------------*/

  /*Video*/

  #MainSection{
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      padding: 0;
      margin: 0;
      background: rgb(41, 43, 49);
  }

  #VideoSection{
      height: 34vw;
  }

  video {
      height: 100%; /* Asegura que el video no se extienda más allá del contenedor */
      width: auto; /* Mantiene la proporción del video */
      object-fit: cover;
  }

  /*-----------------------------------------*/

  /*Information*/

  #Information{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 5vw;
    background-color: rgb(29, 33, 41);
    position: relative;
    justify-content: space-between;
  }

  #GameTitleContent{
    width: 30%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }

  #DownloadSection{
    width: auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: right;
  }

  #DownloadSection p {
    box-sizing: border-box;
    margin: 0vw 2vw;
    font-size: 2vw;
    cursor: pointer;
  }


  #GameDescription{
    width: 100%;
    height: auto;
    background: rgb(41, 43, 49);
    padding: 2vw;
  }

  #DescriptionTitle{
    padding: 0px 0vw 2vw 5vw;
  }

  #DescriptionText{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0px 5vw;
    font-size: 1.3vw;
    color:#ffffff;
  }

}

@media (max-width: 800px) {

  #TopSection{
    width: 100%;
    height: 10vw;
    top: 0;
    background: rgb(29, 33, 41);
    display: flex;
    align-items: center;
    box-sizing: border-box; /*Establece el ancho y el alto incluyengo el contenido, el padding y el border*/
    position: fixed;
    padding: 0 2vw;
    z-index: 500; /*Establezco posición 1000 en pantalla para asegurarme de que siempre queda por encima de otros elementos*/
    filter: drop-shadow(0px 0px 0.4vh rgb(28, 27, 32));
  }

  #Logo{
      height: 8vw;
      align-items: center;
      box-sizing: border-box;
      z-index: 500;
      cursor: pointer;
  }

  #TopMenu{
      width: auto;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      margin: 0vw 0vw 0vw 3vw;
  }

  #TopMenu a{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    text-decoration: none; /* Sin subrayado por defecto */
  }

  #TopMenu button{
      box-sizing: border-box;
      margin: 0vw 4vw;
      font-size: 3vw;
      font-family: 'Titulo', Arial, sans-serif;
      color:rgb(232, 232, 232);
      border: none;
      background: none;
      cursor: pointer;
      text-decoration: none; /* Sin subrayado por defecto */
      transition: text-decoration 0.3s ease;
  }


  #TopMenu button:hover {
      text-decoration: underline;
  }

  #EmptySpace{
      width: 100%;
      height: 10vw;
      top: 0;
      background: rgb(153, 147, 82); /*Cambiar para hacer coincidir con el color de fondo */
  }

  /*-----------------------------------------*/

  /*Titulo*/

  #Title{
    box-sizing: border-box;
    font-family: 'Titulo', Arial, sans-serif;
    font-size: 3vw;
    color: rgb(232, 232, 232);
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
  }

  /*-----------------------------------------*/

  /*Video*/

  #MainSection{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    background: rgb(41, 43, 49);
  }

  #VideoSection{
    box-sizing: border-box;
    width: 100vw;
    height: auto;
  }

  video {
    object-fit: cover;
  }

  /*-----------------------------------------*/

  /*Information*/

  #Information{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 10vw;
    background-color: rgb(29, 33, 41);
    position: relative;
    justify-content: space-between;
  }

  #GameTitleContent{
    width: 30%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }

  #DownloadSection{
    width: auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: right;
  }

  #DownloadSection p {
    box-sizing: border-box;
    margin: 0vw 2vw;
    font-size: 3vw;
    cursor: pointer;
  }


  #GameDescription{
    width: 100%;
    height: auto;
    background: rgb(41, 43, 49);
    padding: 2vw;
  }

  #DescriptionTitle{
    padding: 2vw 0vw 6vw 5vw;
    font-size: 4vw;
  }

  #DescriptionText{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0px 5vw;
    font-size: 3vw;
    color:#ffffff;
    padding-bottom: 6vw;
  }
  
}


/*-----------------------------------------*/

















/*Comments section*/

#comment-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    resize: vertical;
  }
  
  #CommentsButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #CommentsButton:hover {
    background-color: #45a049;
  }
  
  .star-rating {
    display: flex;
    gap: 5px;
    font-size: 2em;
  }
  
  .star-rating input[type="radio"] {
    display: none;
  }
  
  .star-rating label {
    cursor: pointer;
    color: gold;
  }
  
  .star-rating input[type="radio"]:checked ~ label{
    color: #ccc;
  }
  
  .star-rating input[type="radio"]:checked + label{
    color: gold; /* Color para la estrella seleccionada */
  }
  
  .comments-list {
    margin-top: 30px;
  }
  
  .comment {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .comment .rating {
    font-size: 1.2em;
    color: gold;
  }
  
  .comment .text {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
  }