/*Fuentes de texto*/

@font-face {
    font-family: 'TextoPrincipal';
    src: url('Fonts/medium/CreatoDisplay-Medium.otf') format('opentype'),
         url('Fonts/medium/CreatoDisplay-Medium.woff2') format('woff2'),
         url('Fonts/medium/CreatoDisplay-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titulo';
    src: url('Fonts/Tittles/AkiraExpandedDemo.otf') format('opentype'),
         url('Fonts/Tittles/AkiraExpanded-SuperBold.woff2') format('woff2'),
         url('Fonts/Tittles/AkiraExpanded-SuperBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Animaciones generales*/

@keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

@keyframes slideRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}


/*Página web para ordenador 801*/
@media (min-width: 801px) {


    ::-webkit-scrollbar {
        display: none;
    }

    html {
        scroll-behavior: smooth;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*CSS general de la página web*/

    body{
        margin: 0;
        width: 100%;
        font-family: 'TextoPrincipal', Arial, sans-serif;
        scrollbar-width: none; /* Oculta el slider en firefox*/
        -ms-overflow-style: none; /* Oculta el slider en edge*/
    }

    /*Logo introductorio*/

    #initialLogo{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: #151518;
        z-index: 1000;
        opacity: 1;
        transition: opacity 2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Logo{
        width: 90vw;
        max-width: 90vh;
        opacity: 0;
        transition: opacity 1s ease;
    }



    /*-----------------------------------------*/

    /*Modificador general de secciones */

    #sectionContainer{
        width: 100%;
        position: relative;
        overflow: hidden;
    }


    /*-----------------------------------------*/

    /*Todo esto es la barra de arriba*/

    #barraSuperior{
        width: 100vw;
        height: 10vh;
        top: 0;
        background: rgb(104, 103, 93, 0); /*SE HA OCULTADO LA BARRA PARA HACER PRUEBAS*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box; /*Establece el ancho y el alto incluyengo el contenido, el padding y el border*/
        position: fixed;
        padding: 0 2vw;
        z-index: 500; /*Establezco posición 1000 en pantalla para asegurarme de que siempre queda por encima de otros elementos*/
        filter: drop-shadow(0px 0px 0.4vh rgb(28, 27, 32));
        transition: top 0.3s;
    }

    

    #barraSuperior img{
        height: 80%;
        display: flex;
        align-items: center;
    }

    #Buttons{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box; /*Establece el ancho y el alto incluyengo el contenido, el padding y el border*/
        position: relative;
        
    }

    #Buttons img{
        height: 50%;
        display: flex;
        align-items: center;
        margin: 0px 10px;
        cursor: pointer;
    }

    /*-------------------------------------------*/

    /*Sliders Horizontales*/

    /*Codigo variable*/

    #FirstSlide{
        top: 90vh;
        left: 50%;
        transform: translateX(-50%) rotate(3deg);
    }

    #SecondSlide{
        top: 81vh;
        left: 50%;
        transform: translateX(-50%) rotate(-3deg);
    }

    /*Codigo repetido*/

    #sliderImage{
        display: flex;
        height: 40%;
        padding: 0px 20px;
    }

    .CustomSlides{
        position: absolute;
        background-color: rgb(28, 27, 32);
        width: 110%;
        height: 7vh; /* Ajusta según el tamaño de tu contenido */
        z-index: 3;
        display: flex;
        align-items: center; /* Centra verticalmente el contenido */
        font-family: 'Titulo', Arial, sans-serif;
        overflow: hidden;
    }

    .CustomSlides:before, .CustomSlides:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 20%;
        content: "";
    }

    .CustomSlides:before {
        top: 5px;
        background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(232, 232, 232));
    }

    .CustomSlides:after {
        bottom: 5px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(232, 232, 232));
    }

    .SlideToLeft{
        display: flex;
        color: #F8F6FD;
        flex-direction: row;
        animation: 35s slideLeft infinite linear;
        white-space: nowrap;
        align-items: center;
        position: relative;
        font-size: 3vh;
        height: 100%;
    }

    .SlideToRight{
        display: flex;
        color: #F8F6FD;
        flex-direction: row;
        animation: 35s slideRight infinite linear;
        white-space: nowrap;
        align-items: center;
        position: relative;
        font-size: 3vh;
        height: 100%;
    }

    .SlideToLeft p, .SlideToRight p{
        white-space: nowrap;
        margin: 0 10px;
    }

    /*-------------------------------------------*/

    /*Seccion de inicio*/

    #PhotoSection{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    #Photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #PhotoSection:after {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        content: "";
        z-index: 2;
        background: linear-gradient(to top, rgb(232, 232, 232), rgb(232, 232, 232, 0));
    }

    /*----------------------------------------*/

    /*Adjetivos*/

    .Adjectives {
        padding-top: 5vw;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vw;
        background: rgb(232, 232, 232);
        font-family: 'Titulo', Arial, sans-serif;
        font-size: 7vw;
        color: transparent;
        -webkit-text-stroke: 0.2vw #151518; /* Prefijo para navegadores WebKit */
    }

    .Adjectives__text {
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 1;
        padding-left: 2vw;
    }

    .Adjectives_container {
        display: flex;
    }

    .Adjectives_bar {
        height: 13h;
        margin-left: 0.5vw;
        content: "/";
        animation: animation-bar 1s steps(1) infinite;
    }
    
    @keyframes animation-bar {
        50% {
            opacity: 0;
        }
    }

    /*-----------------------------------------*/

    /*Intro*/

    #Intro{
        padding-top: 5vw;
        width: 100%;
        background: rgb(232, 232, 232);
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    #IntroImageComputer{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #IntroImageMobile{
        display: none;
    }

    #ArrowImages{
        padding-top: 5vw;
        width: 40%;
    }

    .Arrows{
        position: relative;
        width: 100%;
        animation: arrow-load 2s infinite;
    }

    .Arrows:nth-child(2){
        bottom: 3vw;
        animation-delay: 0.2s;
    }

    .Arrows:nth-child(3){
        bottom: 6vw;
        animation-delay: 0.4s;
    }

    @keyframes arrow-load {
        0%{
            opacity: 0;
            transform: translate(0px, -2vh);
        }
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: translate(0, 2vh);
        }
    }

    #IntroText{
        height: 100%;
        width: 50%;
        display: flex;
        align-items:center;
        justify-content: start;
        padding-left: 0%;
        padding-right: 15%;
        font-size: 2vw;
        line-height: 3vw;
        color:#151518;
        text-shadow: 0.4vw 0.4vw 0.2vw rgba(0, 0, 0, 0.2);
    }

    /*-----------------------------------------*/

    /*Explorador de trabajo*/

    #WorkExploratorTitle{
        background: rgb(232, 232, 232);
        width: 100%;
        padding-top: 20vw;
    }

    #BlackTitle{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        padding-left: 5vw;
        font-family: 'Titulo', Arial, sans-serif;
        font-size: 10vw;
        color: #151518;
        line-height: 0.7;
    }

    #TransparentTitle{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        padding-left: 5vw;
        font-family: 'Titulo', Arial, sans-serif;
        font-size: 10vw;
        color: transparent;
        -webkit-text-stroke: 0.2vw #151518; /* Prefijo para navegadores WebKit */
        line-height: 0.7;
    }

    #WorkExplorator{
        width: 100%;
        background: rgb(232, 232, 232);
        display: flex;
        box-sizing: border-box;
        padding-top: 4vw;
        align-items: start;
        justify-content: center;
        position: relative;
    }

    #ModelExplorator{
        width: 33%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        position: relative;
        transform: translateY(20vw); /* Inicia más abajo */
        will-change: transform;
    }

    #AnimExplorator{
        width: 33%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        margin-top: 10vw;
        position: relative;
        transform: translateY(20vh); /* Inicia más abajo */
        will-change: transform;
    }

    #GamesExplorator{
        width: 33%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        margin-top: 20vw;
        position: relative;
        transform: translateY(20vh); /* Inicia más abajo */
        will-change: transform;
    }

    .ExploratorText{
        position: absolute;
        bottom: 0;
        left:0;
        padding-left: 3%;
        padding-bottom: 2.5%;
        font-size: 2vw;
        font-family: 'Titulo', Arial, sans-serif;
        color:#151518
    }

    .ExploratorVideo1{
        width: 95%;
        filter: grayscale(90%);
    }

    #Mask1{
        mask-image: url('Border1.png');
        mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-image: url('Border1.png');
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
    }

    #Mask2{
        mask-image: url('Border2.png');
        mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-image: url('Border2.png');
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
    }

    #Mask3{
        mask-image: url('Border3.png');
        mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-image: url('Border3.png');
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
    }

    /*-----------------------------------------*/

    /*Sección de animaciones*/

    #AnimationWindow{
        padding-top: 15vw;
        padding-bottom: 10vw;
        width: 100%;
        box-sizing: border-box;
        background: rgb(232, 232, 232);
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .logos {
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        align-items: center;
        display: flex;
    }

    .logos:before, .logos:after {
        position: absolute;
        top: 0;
        width: 25vw;
        height: 100%;
        content: "";
        z-index: 2;
    }

    .logos:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(232, 232, 232));
    }

    .logos:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(232, 232, 232));
    }

    .logos:hover .logos-slide {
        animation-play-state: paused;
    }

    .logos-slide {
        display: inline-block;
        animation: 35s slideLeft infinite linear;
        position: relative;
    }

    .logos-slide img {
        width: 30vw; /*Tamaño de la imagen*/
        margin: 0 2vw;
        transition: transform 0.3s ease; /* Smooth scaling effect */
        object-fit: cover;
    }

    .logos-slide img:hover{
        transform: scale(1.2); /* Scale the image by 20% */
    }


    /* Estilo videos */

    video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block; /* Oculto por defecto */
        z-index: 1100;
    }

    /* Estilos para centrar el video cuando no está en pantalla completa */
    .video-centered {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        width: auto;
    }

    /* Overlay para oscurecer el resto de la página */
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
    }

    /*-----------------------------------------*/

    /*Sección de contacto*/

    #ContactSection{
        box-sizing: border-box;
        background: rgb(232, 232, 232);
        height: 80vh;
        width: 100vw;
        left: 0;
        transition: top 1s ease;
        position: fixed;
        display: flex;
        justify-content: end;
        align-items: start;
        z-index: 100;
        box-shadow: 0 0 2vh rgba(0, 0, 0, 1);
    }

            /* Ocultar sección */
    .ContactoOculto{
        pointer-events: none; /*Cuidado! Esto hace que no se detecte nada de lo que suceda dentro*/
        top: -90vh;
    }

    .ContactoVisible{
        pointer-events: auto;
        top: 10vh;
    }

    .CloseButton{
        display: flex;
        align-items: start;
        justify-content: start;
        margin-right: 1vw;
        margin-top: 1vw;
        width: 4vh; /* Ancho deseado del botón */
    }

    /*-----------------------------------------*/

    /*Espacio de la galería*/

    #EmptyWindow{
        height: 110vh; /*La altura podemos cambiarla segun necesitemos*/
        width: 100%;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        pointer-events: none;
        position: relative;
    }

    /*
    #EmptyWindow:before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 10%;
        content: "";
        z-index: 2;
        background: linear-gradient(to bottom, rgb(232, 232, 232), rgb(232, 232, 232, 0));
    }

    */


    /*-----------------------------------------*/

    /*Galeria de videojuegos*/

    #Gallery{
        height: 200vh; /*La altura podemos cambiarla segun necesitemos*/
        width: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background: #151518;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: auto;
    }

    .HiddenGallery{
        position: fixed;
        pointer-events: none;
        z-index: -500;
    }

    .OpenedGallery{
        position: sticky;
        pointer-events: auto;
        z-index: 0;
    }

    /* Contenedor de fondo dentro de la galería */
    #BackGallery {
        width: 90%;
        display:flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 2vw;
        margin-top: 15vw;
    }

    /* Sección para mostrar un videojuego */
    .VideogameSection {
        width: 12vw;
        height: 17vw;
        background-color: rgb(232, 232, 232);
        box-sizing: border-box;
    }

    /*-----------------------------------------*/

    /*Robot de soporte al usuario*/

    #RobotPosition {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end; /* Alinea la imagen en la parte superior */
        pointer-events: none;
        z-index: 20;
        
    }

    #Robot {
        height: 10vw;
        width: 10vw;
        margin-bottom: 30px;
        margin-right: 30px;
        pointer-events: visibleFill;
        
        background-image: url("robot/1.png");
        background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste dentro del contenedor */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center;
        animation: RobotMovement 3s ease-in-out infinite; /* Animación infinita de 3 segundos */
    }

    @keyframes RobotMovement {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px); /* Ajusta la distancia vertical del movimiento */
        }
    }

    /*-----------------------------------------*/

    /*Menu del visitante*/

    #MenuSection{
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 100; /* Capa encima de otros elementos */
        pointer-events: none;
        /*NO SE SI ESTO FUNCIONA, PUEDE QUE NO SE VEA PERO SIGA BLOCK*/
    }

    #BackMenu{
        width: 80vw;
        max-width: 90vh;
        opacity: 0;
    }

    .scaleAnimation{
        animation: scaleAnimation 0.3s ease;
    }

    @keyframes scaleAnimation {
        0% { transform: scale(1); } /* Tamaño original */
        50% { transform: scale(1.2); } /* Escalado al 120% a la mitad de la animación */
        100% { transform: scale(1); } /* Volver al tamaño original al final */
    }

    /*-----------------------------------------*/

    /*Checker de pulsaciones*/

    #Checker{
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        background-color: white;
        z-index: 0;

        opacity: 0;
        pointer-events: none;
    }

    /*-----------------------------------------*/

    /* Clases generales*/

    .Oculto{
        pointer-events: none; /*Cuidado! Esto hace que no se detecte nada de lo que suceda dentro*/
    }

    .Visible{
        pointer-events: auto;
    }

    .TextReader span {
        display: inline-block;
        opacity: 0.5; /* Inicialmente, los caracteres son invisibles */
        transition: opacity 0.3s ease;
    }
    
    .TextReader span.read {
        opacity: 1;
    }

    /*-----------------------------------------*/
}














/*Pagina web para movil*/
@media (max-width: 800px) {
    /*CSS general de la página web*/

    ::-webkit-scrollbar {
        display: none;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*CSS general de la página web*/

    body{
        margin: 0;
        width: 100%;
        font-family: 'TextoPrincipal', Arial, sans-serif;
        scrollbar-width: none; /* Oculta el slider en firefox*/
        -ms-overflow-style: none; /* Oculta el slider en edge*/
    }

    /*Logo introductorio*/

    #initialLogo{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: #151518;
        z-index: 1000;
        opacity: 1;
        transition: opacity 2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Logo{
        width: 90vw;
        max-width: 90vh;
        opacity: 0;
        transition: opacity 1s ease;
    }



    /*-----------------------------------------*/

    /*Modificador general de secciones */

    #sectionContainer{
        width: 100%;
        position: relative;
        overflow: hidden;
    }


    /*-----------------------------------------*/

    /*Todo esto es la barra de arriba*/

    #barraSuperior{
        width: 100vw;
        height: 10vh;
        top: 0;
        background: rgb(104, 103, 93, 0); /*SE HA OCULTADO LA BARRA PARA HACER PRUEBAS*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box; /*Establece el ancho y el alto incluyengo el contenido, el padding y el border*/
        position: fixed;
        padding: 0 2vw;
        z-index: 500; /*Establezco posición 1000 en pantalla para asegurarme de que siempre queda por encima de otros elementos*/
        filter: drop-shadow(0px 0px 0.4vh rgb(28, 27, 32));
        transition: top 0.3s;
    }

    

    #barraSuperior img{
        height: 80%;
        display: flex;
        align-items: center;
    }

    #Buttons{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box; /*Establece el ancho y el alto incluyengo el contenido, el padding y el border*/
        position: relative;
        
    }

    #Buttons img{
        height: 50%;
        display: flex;
        align-items: center;
        margin: 0px 10px;
        cursor: pointer;
    }

    /*-------------------------------------------*/

    /*Sliders Horizontales*/

    /*Codigo variable*/

    #FirstSlide{
        top: 90vh;
        left: 50%;
        transform: translateX(-50%) rotate(3deg);
    }

    #SecondSlide{
        top: 81vh;
        left: 50%;
        transform: translateX(-50%) rotate(-3deg);
    }

    /*Codigo repetido*/

    #sliderImage{
        display: flex;
        height: 40%;
        padding: 0px 20px;
    }

    .CustomSlides{
        position: absolute;
        background-color: rgb(28, 27, 32);
        width: 110%;
        height: 7vh; /* Ajusta según el tamaño de tu contenido */
        z-index: 3;
        display: flex;
        align-items: center; /* Centra verticalmente el contenido */
        font-family: 'Titulo', Arial, sans-serif;
        overflow: hidden;
    }

    .CustomSlides:before, .CustomSlides:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 20%;
        content: "";
    }

    .CustomSlides:before {
        top: 5px;
        background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(232, 232, 232));
    }

    .CustomSlides:after {
        bottom: 5px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(232, 232, 232));
    }

    .SlideToLeft{
        display: flex;
        color: #F8F6FD;
        flex-direction: row;
        animation: 35s slideLeft infinite linear;
        white-space: nowrap;
        align-items: center;
        position: relative;
        font-size: 3vh;
        height: 100%;
    }

    .SlideToRight{
        display: flex;
        color: #F8F6FD;
        flex-direction: row;
        animation: 35s slideRight infinite linear;
        white-space: nowrap;
        align-items: center;
        position: relative;
        font-size: 3vh;
        height: 100%;
    }

    .SlideToLeft p, .SlideToRight p{
        white-space: nowrap;
        margin: 0 10px;
    }

    /*-------------------------------------------*/

    /*Seccion de inicio*/

    #PhotoSection{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    #Photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #PhotoSection:after {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        content: "";
        z-index: 2;
        background: linear-gradient(to top, rgb(232, 232, 232), rgb(232, 232, 232, 0));
    }

    /*----------------------------------------*/

    /*Adjetivos*/

    .Adjectives {
        padding-top: 20vw;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vw;
        background: rgb(232, 232, 232);
        font-family: 'Titulo', Arial, sans-serif;
        font-size: 7vw;
        color: transparent;
        -webkit-text-stroke: 0.2vw #151518; /* Prefijo para navegadores WebKit */
    }

    .Adjectives__text {
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 1;
        padding-left: 2vw;
    }

    .Adjectives_container {
        display: flex;
    }

    .Adjectives_bar {
        height: 13h;
        margin-left: 0.5vw;
        content: "/";
        animation: animation-bar 1s steps(1) infinite;
    }
    
    @keyframes animation-bar {
        50% {
            opacity: 0;
        }
    }

    /*-----------------------------------------*/

    /*Intro*/

    #Intro{
        padding-top: 20vw;
        width: 100%;
        background: rgb(232, 232, 232);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    #IntroImageMobile{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #IntroImageComputer{
        display: none;
    }

    #ArrowImages{
        padding-top: 20vw;
        width: 10%;
    }

    .Arrows{
        position: relative;
        width: 100%;
        animation: arrow-load 2s infinite;
    }

    .Arrows:nth-child(2){
        bottom: 2vw;
        animation-delay: 0.2s;
    }

    .Arrows:nth-child(3){
        bottom: 4vw;
        animation-delay: 0.4s;
    }

    @keyframes arrow-load {
        0%{
            opacity: 0;
            transform: translate(0px, -2vh);
        }
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: translate(0, 2vh);
        }
    }

    #IntroText{
        height: 100%;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
        padding: 0px 10vw;
        font-size: 4vw;
        line-height: 6vw;
        color:#151518;
        text-shadow: 0.4vw 0.4vw 0.2vw rgba(0, 0, 0, 0.2);
    }

    /*-----------------------------------------*/

    /*Explorador de trabajo*/

    #WorkExploratorTitle{
        background: rgb(232, 232, 232);
        width: 100%;
        padding-top: 20vw;
    }

    #BlackTitle{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        padding-left: 5vw;
        font-family: 'Titulo', Arial, sans-serif;
        font-size: 10vw;
        color: #151518;
        line-height: 0.7;
    }

    #TransparentTitle{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        padding-left: 5vw;
        font-family: 'Titulo', Arial, sans-serif;
        font-size: 10vw;
        color: transparent;
        -webkit-text-stroke: 0.2vw #151518; /* Prefijo para navegadores WebKit */
        line-height: 0.7;
    }

    #WorkExplorator{
        width: 100%;
        background: rgb(232, 232, 232);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-top: 10vw;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #ModelExplorator{
        width: 80%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        position: relative;
        transform: translateY(20vw); /* Inicia más abajo */
        will-change: transform;
    }

    #AnimExplorator{
        width: 80%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        margin-top: 10vw;
        position: relative;
        transform: translateY(20vh); /* Inicia más abajo */
        will-change: transform;
    }

    #GamesExplorator{
        width: 80%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        margin-top: 10vw;
        position: relative;
        transform: translateY(20vh); /* Inicia más abajo */
        will-change: transform;
    }

    .ExploratorText{
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 3%;
        padding-bottom: 2.5%;
        font-size: 4vw;
        font-family: 'Titulo', Arial, sans-serif;
        color:#151518
    }

    .ExploratorVideo1{
        width: 95%;
        filter: grayscale(90%);
    }

    #Mask1{
        mask-image: url('Border1.png');
        mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-image: url('Border1.png');
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
    }

    #Mask2{
        mask-image: url('Border2.png');
        mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-image: url('Border2.png');
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
    }

    #Mask3{
        mask-image: url('Border3.png');
        mask-size: cover;
        mask-repeat: no-repeat;
        -webkit-mask-image: url('Border3.png');
        -webkit-mask-size: cover;
        -webkit-mask-repeat: no-repeat;
    }

    /*-----------------------------------------*/

    /*Sección de animaciones*/

    #AnimationWindow{
        padding-top: 15vw;
        padding-bottom: 10vw;
        width: 100%;
        box-sizing: border-box;
        background: rgb(232, 232, 232);
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .logos {
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        align-items: center;
        display: flex;
    }

    .logos:before, .logos:after {
        position: absolute;
        top: 0;
        width: 25vw;
        height: 100%;
        content: "";
        z-index: 2;
    }

    .logos:before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(232, 232, 232));
    }

    .logos:after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(232, 232, 232));
    }

    .logos:hover .logos-slide {
        animation-play-state: paused;
    }

    .logos-slide {
        display: inline-block;
        animation: 35s slideLeft infinite linear;
        position: relative;
    }

    .logos-slide img {
        width: 30vw; /*Tamaño de la imagen*/
        margin: 0 2vw;
        transition: transform 0.3s ease; /* Smooth scaling effect */
        object-fit: cover;
    }

    .logos-slide img:hover{
        transform: scale(1.2); /* Scale the image by 20% */
    }


    /* Estilo videos */

    video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block; /* Oculto por defecto */
        z-index: 1100;
    }

    /* Estilos para centrar el video cuando no está en pantalla completa */
    .video-centered {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 80%;
        width: auto;
    }

    /* Overlay para oscurecer el resto de la página */
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
    }

    /*-----------------------------------------*/

    /*Sección de contacto*/

    #ContactSection{
        box-sizing: border-box;
        background: rgb(232, 232, 232);
        height: 80vh;
        width: 100vw;
        left: 0;
        transition: top 1s ease;
        position: fixed;
        display: flex;
        justify-content: end;
        align-items: start;
        z-index: 100;
        box-shadow: 0 0 2vh rgba(0, 0, 0, 1);
    }

            /* Ocultar sección */
    .ContactoOculto{
        pointer-events: none; /*Cuidado! Esto hace que no se detecte nada de lo que suceda dentro*/
        top: -90vh;
    }

    .ContactoVisible{
        pointer-events: auto;
        top: 10vh;
    }

    .CloseButton{
        display: flex;
        align-items: start;
        justify-content: start;
        margin-right: 1vw;
        margin-top: 1vw;
        width: 4vh; /* Ancho deseado del botón */
    }

    /*-----------------------------------------*/

    /*Espacio de la galería*/

    #EmptyWindow{
        height: 110vh; /*La altura podemos cambiarla segun necesitemos*/
        width: 100%;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        pointer-events: none;
        position: relative;
    }

    /*
    #EmptyWindow:before {
        position: absolute;
        top: 0;
        width: 100%;
        height: 10%;
        content: "";
        z-index: 2;
        background: linear-gradient(to bottom, rgb(232, 232, 232), rgb(232, 232, 232, 0));
    }

    */


    /*-----------------------------------------*/

    /*Galeria de videojuegos*/

    #Gallery{
        height: 200vh; /*La altura podemos cambiarla segun necesitemos*/
        width: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background: #151518;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: auto;
    }

    .HiddenGallery{
        position: fixed;
        pointer-events: none;
        z-index: -500;
    }

    .OpenedGallery{
        position: sticky;
        pointer-events: auto;
        z-index: 0;
    }

    /* Contenedor de fondo dentro de la galería */
    #BackGallery {
        width: 90%;
        display:flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 2vw;
        margin-top: 15vw;
    }

    /* Sección para mostrar un videojuego */
    .VideogameSection {
        width: 12vw;
        height: 17vw;
        background-color: rgb(232, 232, 232);
        box-sizing: border-box;
    }

    /*-----------------------------------------*/

    /*Robot de soporte al usuario*/

    #RobotPosition {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end; /* Alinea la imagen en la parte superior */
        pointer-events: none;
        z-index: 20;
        
    }

    #Robot {
        height: 10vw;
        width: 10vw;
        margin-bottom: 30px;
        margin-right: 30px;
        pointer-events: visibleFill;
        
        background-image: url("robot/1.png");
        background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste dentro del contenedor */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        background-position: center;
        animation: RobotMovement 3s ease-in-out infinite; /* Animación infinita de 3 segundos */
    }

    @keyframes RobotMovement {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px); /* Ajusta la distancia vertical del movimiento */
        }
    }

    /*-----------------------------------------*/

    /*Menu del visitante*/

    #MenuSection{
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 100; /* Capa encima de otros elementos */
        pointer-events: none;
        /*NO SE SI ESTO FUNCIONA, PUEDE QUE NO SE VEA PERO SIGA BLOCK*/
    }

    #BackMenu{
        width: 80vw;
        max-width: 90vh;
        opacity: 0;
    }

    .scaleAnimation{
        animation: scaleAnimation 0.3s ease;
    }

    @keyframes scaleAnimation {
        0% { transform: scale(1); } /* Tamaño original */
        50% { transform: scale(1.2); } /* Escalado al 120% a la mitad de la animación */
        100% { transform: scale(1); } /* Volver al tamaño original al final */
    }

    /*-----------------------------------------*/

    /*Checker de pulsaciones*/

    #Checker{
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        background-color: white;
        z-index: 0;

        opacity: 0;
        pointer-events: none;
    }

    /*-----------------------------------------*/

    /* Clases generales*/

    .Oculto{
        pointer-events: none; /*Cuidado! Esto hace que no se detecte nada de lo que suceda dentro*/
    }

    .Visible{
        pointer-events: auto;
    }

    .TextReader span {
        display: inline-block;
        opacity: 0.5; /* Inicialmente, los caracteres son invisibles */
        transition: opacity 0.3s ease;
    }
    
    .TextReader span.read {
        opacity: 1;
    }

    /*-----------------------------------------*/
}